html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.btn {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2em auto;
  width: 220px;
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 22px 24px 0px rgba(0, 0, 0, 0.08);
  transition: box-shadow 600ms ease;
}
.btn:hover {
  background: linear-gradient(180deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: #737373 0px 2px 3px;
}

.restaurants {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}
.restaurants h1 {
  padding-top: 2em;
}
.restaurants .restaurants__cards {
  padding-top: 1em;
  padding-bottom: 2.5em;
  margin-top: -5px;
}
.restaurants .restaurants__cards > a {
  color: black;
  text-decoration: none;
}
.restaurants .restaurant-item {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 250px;
  display: inline-block;
  position: relative;
}
.restaurants .restaurant-item--new .restaurant-item__label {
  background-color: #99e2d0;
  color: #007b5c;
  font-weight: bold;
  font-size: 14px;
  z-index: 1;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 225px;
  right: 0;
  top: 5%;
  width: 24%;
  padding: 5px;
  border-radius: 3px;
}
.restaurants .restaurant-item__img {
  height: 155px;
}
.restaurants .restaurant-item__img > img {
  /*object-position: 48% 100%;*/
  height: 170px;
  width: 335px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants .restaurant-item__content {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 2em;
}
.restaurants .restaurant-item__content h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.restaurants .restaurant-item__content h3 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  color: #4d4d4d;
}
.restaurants .restaurant-item__content #gradient stop.start-color {
  stop-color: #9356dc;
}
.restaurants .restaurant-item__content #gradient stop.end-color {
  stop-color: #ff79da;
}
.restaurants .restaurant-item__content .heart {
  width: 22px;
  margin-bottom: 45px;
}
.restaurants .restaurant-item__content .heart #grayscale-mask1,
.restaurants .restaurant-item__content .heart #color-mask1,
.restaurants .restaurant-item__content .heart #grayscale-mask2,
.restaurants .restaurant-item__content .heart #color-mask2,
.restaurants .restaurant-item__content .heart #grayscale-mask3,
.restaurants .restaurant-item__content .heart #color-mask3,
.restaurants .restaurant-item__content .heart #grayscale-mask4,
.restaurants .restaurant-item__content .heart #color-mask4 {
  fill: pink;
  stroke: black;
  stroke-width: 25;
}
.restaurants .restaurant-item__content .heart #grayscale-mask1 g,
.restaurants .restaurant-item__content .heart #color-mask1 g,
.restaurants .restaurant-item__content .heart #grayscale-mask2 g,
.restaurants .restaurant-item__content .heart #color-mask2 g,
.restaurants .restaurant-item__content .heart #grayscale-mask3 g,
.restaurants .restaurant-item__content .heart #color-mask3 g,
.restaurants .restaurant-item__content .heart #grayscale-mask4 g,
.restaurants .restaurant-item__content .heart #color-mask4 g {
  transform: translateY(220px);
}
.restaurants .restaurant-item__content .heart .grayscale-logo .heart-icon {
  fill: white;
  stroke: black;
  stroke-width: 20;
}
.restaurants .restaurant-item__content .heart:hover .color-logo .heart-icon {
  fill: url(#gradient) white;
  stroke: black;
}
.restaurants .restaurant-item__content .heart:hover #grayscale-mask1 path,
.restaurants .restaurant-item__content .heart:hover #color-mask1 path,
.restaurants .restaurant-item__content .heart:hover #grayscale-mask2 path,
.restaurants .restaurant-item__content .heart:hover #color-mask2 path,
.restaurants .restaurant-item__content .heart:hover #grayscale-mask3 path,
.restaurants .restaurant-item__content .heart:hover #color-mask3 path,
.restaurants .restaurant-item__content .heart:hover #grayscale-mask4 path,
.restaurants .restaurant-item__content .heart:hover #color-mask4 path {
  animation: waves 0.66s infinite linear;
  animation-fill-mode: forwards;
}
@keyframes waves {
  from {
    transform: translateX(17rem);
  }
  to {
    transform: translateX(-17rem);
  }
}
.restaurants .restaurant-item__content .heart:hover #grayscale-mask1 g,
.restaurants .restaurant-item__content .heart:hover #color-mask1 g,
.restaurants .restaurant-item__content .heart:hover #grayscale-mask2 g,
.restaurants .restaurant-item__content .heart:hover #color-mask2 g,
.restaurants .restaurant-item__content .heart:hover #grayscale-mask3 g,
.restaurants .restaurant-item__content .heart:hover #color-mask3 g,
.restaurants .restaurant-item__content .heart:hover #grayscale-mask4 g,
.restaurants .restaurant-item__content .heart:hover #color-mask4 g {
  animation: raise 4s infinite ease-in-out;
  animation-direction: normal;
  transform: translateY(200px);
}
@keyframes raise {
  from {
    transform: translateY(12rem);
  }
  to {
    transform: translateY(-15rem);
  }
}

/** media queries from tablet**/
@media (min-width: 46.25em) {
  .restaurants {
    max-width: 2000px;
  }
  .restaurants h1 {
    text-align: center;
    margin-bottom: 2em;
    padding-top: 2em;
  }

  .restaurants__cards {
    display: flex;
    flex-direction: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants__cards .restaurant-item {
    margin-bottom: 0;
  }
}
.loader {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f3;
  opacity: 1;
  animation: animateLoader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation-delay: 3s;
}

@keyframes animateLoader {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  99% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.bounce {
  animation: bounce 2.5s infinite both;
}

.header {
  font-family: "Shrikhand", cursive;
}
.header__logo {
  box-shadow: 0 4px 2px -2px #cecece;
  z-index: 3;
  position: relative;
}
.header__logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  padding: 1em;
}
.header__localisation {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__localisation p {
  margin-left: 1em;
  font-weight: bold;
}
.header__nav {
  display: flex;
  align-items: center;
  padding: 1em;
}
.header__nav a {
  text-decoration: none;
  color: #353535;
}
.header__nav img {
  width: 10em;
  margin: auto;
}

@media (min-width: 46.25em) {
  .header__nav {
    margin: auto;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em;
    padding-left: 2em;
  }
  .header__nav img {
    padding-left: 0;
    margin: auto;
  }
}
.footer {
  margin: 0 auto;
  background-color: #353535;
  color: white;
}
.footer__nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.5em;
  padding-bottom: 2em;
  padding-top: 1em;
}
.footer__nav li {
  display: flex;
  align-items: center;
}
.footer__nav li img {
  width: 6em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.footer__nav li a {
  text-decoration: none;
  color: white;
}
.footer__nav li p {
  margin: 0;
  padding: 0 0 0.5em 0;
}
.footer__nav li .fa,
.footer__nav li .fas {
  margin-right: 1em;
}
.footer__nav li .fa-hands-helping {
  width: 11px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.about {
  margin: 0;
}
.about__project {
  background-color: #f6f6f6;
  padding-bottom: 1.5em;
}
.about__project h1 {
  text-align: center;
  font-size: 24px;
  margin: 0 3em;
  padding-top: 1.5em;
}
.about__project h3 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  margin: 1em 1.5em 1.5em 1.5em;
  color: #4d4d4d;
}
.about__menu {
  margin: 2em 0 2em 0;
}
.about__menu h1 {
  margin-left: -10px;
  margin-bottom: 1em;
  font-size: 22px;
}
.about__menu__cardslist {
  list-style-type: none;
  padding: 0;
}
.about__menu .carditem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 310px;
  height: 70px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
}
.about__menu .carditem .number-circle {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 3px;
  background: #9356dc;
  color: white;
  text-align: center;
  font-size: 14px;
  margin-left: -1em;
}
.about__menu .carditem p {
  margin-left: 1.5em;
}
.about__menu .carditem .fa,
.about__menu .carditem .fas {
  margin-left: 1em;
}
.about__menu .carditem--disabled {
  background-color: #f6f6f6;
}
.about__menu .carditem--disabled .fa,
.about__menu .carditem--disabled .fas {
  color: #737373;
}
.about__menu .carditem--active {
  background-color: #f4ebfe;
}
.about__menu .carditem--active .fa,
.about__menu .carditem--active .fas {
  color: #9356dc;
}

.wrapper {
  background-color: #f6f6f6;
}

/** media queries from tablet**/
@media (min-width: 46.25em) {
  .about__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }
  .about__menu h1 {
    margin-left: 0;
    margin-bottom: 2em;
  }
  .about__menu__cardslist {
    padding: 0;
  }
}
/** media queries from wide**/
@media (min-width: 81.25em) {
  .wrap {
    display: block;
  }

  .about__menu {
    display: block;
  }
  .about__menu h1 {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .about__menu__cardslist {
    display: flex;
    justify-content: space-evenly;
  }
}
.menu__banner {
  position: relative;
  z-index: 1;
}
.menu__banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.menu__title {
  width: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em 0 2em;
  margin-top: -55px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.menu__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  letter-spacing: 1px;
  margin: 0;
}
.menu__list {
  background-color: #f6f6f6;
  padding-bottom: 2em;
}
.menu__list__title {
  margin-left: 1.5em;
  padding: 3em 0 0.5em 0;
  color: #353535;
  border-bottom: 3px solid #99e2d0;
  width: 10%;
}
.menu__list__cards {
  position: relative;
  opacity: 0;
  margin: 15px;
  padding: 3px;
  border-radius: 20px;
  height: 75px;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  animation: card-in 500ms linear;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}
.menu__list__cards:nth-child(1) {
  animation-delay: 50ms;
}
.menu__list__cards:nth-child(2) {
  animation-delay: 100ms;
}
.menu__list__cards:nth-child(3) {
  animation-delay: 150ms;
}
.menu__list__cards:nth-child(4) {
  animation-delay: 200ms;
}
.menu__list__cards:nth-child(5) {
  animation-delay: 250ms;
}
.menu__list__cards:nth-child(6) {
  animation-delay: 300ms;
}
.menu__list__cards:nth-child(7) {
  animation-delay: 350ms;
}
.menu__list__cards:nth-child(8) {
  animation-delay: 400ms;
}
.menu__list__cards:nth-child(9) {
  animation-delay: 450ms;
}
.menu__list__cards:nth-child(10) {
  animation-delay: 500ms;
}
.menu__list__cards:nth-child(11) {
  animation-delay: 550ms;
}
.menu__list__cards:nth-child(12) {
  animation-delay: 600ms;
}
.menu__list__cards:nth-child(13) {
  animation-delay: 650ms;
}
.menu__list__cards:nth-child(14) {
  animation-delay: 700ms;
}
.menu__list__cards:nth-child(15) {
  animation-delay: 750ms;
}
.menu__list__cards:nth-child(16) {
  animation-delay: 800ms;
}
.menu__list__cards:nth-child(17) {
  animation-delay: 850ms;
}
.menu__list__cards:nth-child(18) {
  animation-delay: 900ms;
}
.menu__list__cards:nth-child(19) {
  animation-delay: 950ms;
}
.menu__list__cards:nth-child(20) {
  animation-delay: 1000ms;
}
.menu__list__cards:nth-child(21) {
  animation-delay: 1050ms;
}
.menu__list__cards h2 {
  font-size: 18px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 5px;
  margin: 0;
}
.menu__list__cards .cards__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}
.menu__list__cards .cards__info p {
  font-size: 15px;
  color: #353535;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list__cards .cards__info__price {
  font-size: 15px;
  color: #353535;
}
.menu__list__cards:hover .cards__info__price {
  transform: translateX(-90px);
  transition: transform 0.5s ease;
}
.menu__list__cards .cards__overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.menu__list__cards .cards__overlay .fas {
  color: white;
  position: absolute;
  top: 35%;
  right: 35%;
  font-size: 26px;
  white-space: nowrap;
}
.menu__list__cards:hover .cards__overlay {
  width: 20%;
  left: 80%;
}
.menu__list__cards:hover .cards__overlay .fas {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
@keyframes card-in {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.menu .btn {
  width: 200px;
}

/** media queries from tablet**/
@media (min-width: 46.25em) {
  .menu__banner img {
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: cover;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__list__title {
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
  .menu__list__cards {
    min-width: 450px;
    max-width: 600px;
  }

  .menu__title {
    justify-content: center;
  }
}
@media (min-width: 46.25em) and (min-width: 46.25em) {
  .menu__title h1 {
    padding-right: 6em;
  }
}

/*# sourceMappingURL=style.css.map */
