.restaurants {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  h1 {
    padding-top: 2em;
  }
  .restaurants__cards {
    padding-top: 1em;
    padding-bottom: 2.5em;
    margin-top: -5px;
  }

  .restaurants__cards > a {
    color: black;
    text-decoration: none;
  }

  .restaurant-item {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1.5em;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    height: 250px;
    display: inline-block;
    position: relative;
    &--new {
      .restaurant-item__label {
        background-color: $color-tertiary;
        color: #007b5c;
        font-weight: bold;
        font-size: 14px;
        z-index: 1;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        left: 225px;
        right: 0;
        top: 5%;
        width: 24%;
        padding: 5px;
        border-radius: 3px;
      }
    }
  }

  .restaurant-item__img {
    height: 155px;
  }

  .restaurant-item__img > img {
    /*object-position: 48% 100%;*/
    height: 170px;
    width: 335px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .restaurant-item__content {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 2em;
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }
    h3 {
      margin-top: 5px;
      font-weight: 400;
      font-size: 18px;
      color: #4d4d4d;
    }

//     #myClip {
//       transform: translateY(90px);
//     }

//     svg {
//       width: 22px;
//       margin-bottom: 45px;
//       fill: transparent;
//       stroke: black;

      

//       &:hover {
    
//     @keyframes openYourHeart {from {r: 0} to {r: 60px}}

// #myClip circle {
//   transform: translateY(-90px);
//   animation: openYourHeart 15s infinite;
// }
// }
// }

    .heart {
      width: 22px;
      margin-bottom: 45px;

      #grayscale-mask1,
      #color-mask1,
      #grayscale-mask2,
      #color-mask2,
      #grayscale-mask3,
      #color-mask3,
      #grayscale-mask4,
      #color-mask4 {
        fill: pink;
        stroke: black;
        stroke-width: 25;

        g {
          transform: translateY(220px);
        }
      }

      .grayscale-logo {
        .heart-icon {
          fill: white;
          stroke: black;
          stroke-width: 20;
        }
      }
    }

    .heart:hover {
      .color-logo {
        .heart-icon {
          fill: url(#gradient) white;
          stroke: black;
        }
      }
      #grayscale-mask1 path,
      #color-mask1 path,
      #grayscale-mask2 path,
      #color-mask2 path,
      #grayscale-mask3 path,
      #color-mask3 path,
      #grayscale-mask4 path,
      #color-mask4 path {
        animation: waves 0.66s infinite linear;
        animation-fill-mode: forwards;
      }

      @keyframes waves {
        from {
          transform: translateX(17rem);
        }
        to {
          transform: translateX(-17rem);
        }
      }

      #grayscale-mask1 g,
      #color-mask1 g,
      #grayscale-mask2 g,
      #color-mask2 g,
      #grayscale-mask3 g,
      #color-mask3 g,
      #grayscale-mask4 g,
      #color-mask4 g {
        animation: raise 4s infinite ease-in-out;
        animation-direction: normal;
        transform: translateY(200px);
      }

      @keyframes raise {
        from {
          transform: translateY(12rem);
        }
        to {
          transform: translateY(-15rem);
        }
      }
    }

    // svg {
    //   width: 22px;
    //   margin-bottom: 45px;

    //   // path {
    //   //   stroke-width: 20;
    //   //   stroke: black;
    //   // }

    //   // &:hover {
    //   //   fill: url(#bottom-to-top);
    //   // }
    // }

    // #heart-gradient {
    //   opacity: 0;
    //   display: inline-block;
    //   -webkit-transition: opacity 0.4s ease;
    //   -moz-transition: opacity 0.4s ease;
    //   -o-transition: opacity 0.4s ease;
    //   transition: opacity 0.4s ease;
    // }
    // #heart-gradient:hover {
    //   opacity: 1;
    // }
  }
}

/** media queries from tablet**/

@include mq($from: tablet) {
  .restaurants {
    max-width: 2000px;
    h1 {
      text-align: center;
      margin-bottom: 2em;
      padding-top: 2em;
    }
  }

  .restaurants__cards {
    display: flex;
    flex-direction: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    .restaurant-item {
      margin-bottom: 0;
    }
  }
}
