/** $color1: #a5a7bb;
$color2: #a496a4;
$color3: #554d73;

.loader {
  width: 150px;
  height: 150px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
}
svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;

  &.one {
    stroke: $color-tertiary;
    animation: load 1.5s;
  }
  &.two {
    stroke: $color-secondary;
    animation: load 1.5s;
    animation-delay: 0.1s;
  }
  &.three {
    stroke: $color-primary;
    animation: load 1.5s;
    animation-delay: 0.2s;
  }
}

.point {
  &.one {
    fill: $color-primary;
    animation-delay: 0s;
  }
  &.two {
    fill: $color-secondary;
    animation-delay: 0.1s;
  }
  &.three {
    fill: $color-tertiary;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
} **/
