.wrap {
  display: flex;
  justify-content: center;
}
.about {
  margin: 0;
  &__project {
    background-color: #f6f6f6;
    padding-bottom: 1.5em;
    h1 {
      text-align: center;
      font-size: 24px;
      margin: 0 3em;
      padding-top: 1.5em;
    }
    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      margin: 1em 1.5em 1.5em 1.5em;
      color: #4d4d4d;
    }
  }
  &__menu {
    margin: 2em 0 2em 0;
    h1 {
      margin-left: -10px;
      margin-bottom: 1em;
      font-size: 22px;
    }
    &__cardslist {
      list-style-type: none;
      padding: 0;
    }
    .carditem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 310px;
      height: 70px;
      font-weight: bold;
      border-radius: 20px;
      margin-bottom: 1.5em;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
      .number-circle {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        padding: 3px;
        background: #9356dc;
        color: white;
        text-align: center;
        font-size: 14px;
        margin-left: -1em;
      }
      p {
        margin-left: 1.5em;
      }
      .fa,
      .fas {
        margin-left: 1em;
      }
      &--disabled {
        background-color: #f6f6f6;
        .fa,
        .fas {
          color: #737373;
        }
      }
      &--active {
        background-color: #f4ebfe;
        .fa,
        .fas {
          color: #9356dc;
        }
      }
    }
  }
}

.wrapper {
  background-color: #f6f6f6;
}

/** media queries from tablet**/

@include mq($from: tablet) {
  .about__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    h1 {
      margin-left: 0;
      margin-bottom: 2em;
    }
    &__cardslist {
      padding: 0;
    }
  }
}

/** media queries from wide**/

@include mq($from: wide) {
  .wrap {
    display: block;
  }

  .about__menu {
    display: block;
    h1 {
      text-align: center;
      margin-bottom: 3em;
      margin-top: 3em;
    }
  }
  .about__menu__cardslist {
    display: flex;
    justify-content: space-evenly;
  }
}
