.footer {
  margin: 0 auto;
  background-color: #353535;
  color: white;
  &__nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding-bottom: 2em;
      padding-top: 1em;
    }
    li {
      display: flex;
      align-items: center;
      .img {
      margin-bottom: 1em;
      --color_fill: white;
      }
      p {
        margin: 0;
        padding: 0 0 0.5em 1em;
      } 
    }
  }
}
